@model DataAcess.Modell.StoreInfoModell

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StoreInfoModell</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.storeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.storeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.storeLocationX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.storeLocationX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.storeLocationY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.storeLocationY)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.storeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
